@model IEnumerable<Course>
<h1>Courses</h1>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Course Number</th>
            <th scope="col">CourseID</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    <span style="cursor: pointer"
                          data-toggle="modal"
                          data-target="#studentModal"
                          onclick="Detail(@item.CourseID, '@item.CourseName')">
                        @item.CourseName
                    </span>
                </th>
                <td>@item.CourseNumber</td>
                <td>(@item.CourseID</td>
                <td>@item.CourseDescription</td>
            </tr>
}
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="studentModalLabel">Students enrolled in This Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function Detail(code, name) {
        const url = "@Url.Action("GetStudentByCourseID", "Student")/" + code;
        console.log(code, url);
        $.get(url, function (data) {
            //console.log(data);
            $('#studentModalLabel').html("Students enrolled in " + name);
            $('.modal-body').html(data);
        });
    }
</script>